
<div class="container">
  <div col="row justify-content-center">
      <div class="col-md-8 ">
        <!--Title-->
        <h1>
          Stopwatch
        </h1>
        <!--Stopwatch-->
        <div class="card">
          <div class="card-body">
            00 : 00 : 00.000
          </div>
          <!--ACTION BUTTONS-->
          <div class="card-footer">
            <!--Start-->
            <!--*ngIf="!isStarted" show vuutons at loading or if timer isons stop-->
            <!--(click)="start()" function on click-->
            <button *ngIf="!isStarted" type="button" class="btn btn-success" (click)="start()">
              Start
            </button>
            <!--Pause-->
            <button *ngIf="isStarted && !isPaused" type="button" class="btn btn-danger" (click)="pause()" >
              Pause
            </button>
            <!--Keep-->
            <button *ngIf="isStarted && !isPaused" type="button" class="btn btn-outline-info" >
              Keep
            </button>
            <!--Continue-->
            <button *ngIf="isStarted && isPaused" type="button" class="btn btn-success" (click)="continue()">
              Continue
            </button>
            <!--Clear-->
            <button *ngIf="isStarted && isPaused" type="button" class="btn btn-danger" (click)="stop()">
              Clear
            </button>
          </div>
          <!--End buttons-->
        </div>
      </div>
      <!--TABLE-->
      <table class="table table-bordered table-hover mt-4">
        <thead>
          <tr>
            <th scope="col">-/+</th>
            <th scope="col">Duration</th>
            <th scope="col">Note</th>
          </tr>
        </thead>
        
        <tbody>
          <!--Table template -->
          <tr>
            <th scope="row">
              <!--remove -->
              <button type="button" class="btn btn-sm btn-outline-danger">
                X
              </button>
            </th>

            <!--Timestamp -->
            <td>
              00 : 00 : 10.895
            </td>

            <!--Notes -->
            <td>
              <div class="form-group">
                <input type="text" class="form-control">
              </div>
            </td>
          </tr>
          <!--End Table template 2-->
          <!--Table template 2-->
          <tr>
            <th scope="row">
              <!--remove -->
              <button type="button" class="btn btn-sm btn-outline-danger">
                X
              </button>
            </th>

            <!--Timestamp -->
            <td>
              00 : 00 : 10.895
            </td>

            <!--Notes -->
            <td>
              <div class="form-group">
                <input type="text" class="form-control">
              </div>
            </td>
          </tr>
          <!--End Table template 2-->
        </tbody>

      </table>
  </div>
</div>
<router-outlet></router-outlet>